<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PrimeNumbers" value="https://nuget.pkg.github.com/PrimeFactors-MS/index.json" />
  </packageSources>
  <packageSourceCredentials>
  	<PrimeNumbers>
  		<add key="Username" value="nhftk4320" />
  		<add key="ClearTextPassword" value="b3280bbc3a4ce36152cf4683df425bdc8c43d0b8" />
  	</PrimeNumbers>
  </packageSourceCredentials>
</configuration>

<!-- new one : b0abe6f41d4c9892e480c8a7a08dc20ad6e4280b -->
<!-- old one : b3280bbc3a4ce36152cf4683df425bdc8c43d0b8-->